<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/about.css">
  <link rel="icon" href="./ak2.png">
  <title>About</title>
</head>
<body>

  <header>
    <div class="logo">
      <img src="ak2.png" id="logo" alt="image">
      <div class="txt">
        FOOTWARE
      </div>
    </div>
    <nav>
      <a href="http://localhost:3000/akfootware" class="nav-txt">HOME</a>
      <a href="http://localhost:3000/akproduct" class="nav-txt">PRODUCT</a>
      <a href="#" class="nav-txt" style="color: darkgray;">ABOUT</a>
      <a href="http://localhost:3000/contect" class="nav-txt">CONTECT</a>
      <a href="http://localhost:3000/review" class="nav-txt">REVIEW</a>
        <button>
        <a href="http://localhost:3000/ab.html" class="log-txt">LOGIN</a>
        </button>
    </nav>
    </header>

  <div class="about-container">
    <div class="overlay">
      <h1>ABOUT US</h1>
      <hr>
      <h2>BRAND NEW APP TO BLOW YOUR MIND</h2>
      <p class="highlight">We’ve Shoes every item from the core of our heart to serve you</p>
      <p class="description">
        Now a days, Shoes products are an item of mass consumption. In view of its low price and with rapid growth 
        and changing habits of people, Footware products have gained popularity among masses of the sector overall. 
        The growth rate of Best products has been tremendous in both urban and rural areas. Increased number of working 
        men, change in Indian meal pattern, increased income, urbanization etc., has increased the demand for more products.
      </p>
    </div>
  </div>
</body>
</html>
