
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
     <link rel="icon" href="./ak2.png">
    <link rel="stylesheet" href="welcome.css">
    <title>AK-FOOTWARE</title>

</head>
<body><div class="continar">
<header>
  <div class="logo">
    <img src="ak2.png" id="logo" alt="image">
    <div class="txt">FOOTWARE</div>
  </div>

  <div class="menu-toggle" id="menu-toggle">
    <i class="fas fa-bars"></i>
  </div>

  <nav id="navbar">
    <a href="#">HOME</a>
    <a href="https://akfootware.onrender.com/akfootware">PRODUCT</a>
    <a href="https://akfootware.onrender.com/akabout">ABOUT</a>
    <a href="https://akfootware.onrender.com/contect">CONTACT</a>
    <a href="https://akfootware.onrender.com/review">REVIEW</a>
    <button><a href="https://akfootware.onrender.com/login">LOGIN</a></button>
  </nav>
</header>
    <!-- <header>
    <div class="logo">
      <img src="ak2.png" id="logo" alt="image">
      <div class="txt">
        FOOTWARE
      </div>
    </div>
    <nav>
      <a href="#" class="nav-txt" style="color: darkgray;">HOME</a>
      <a href="http://localhost:3000/akproduct" class="nav-txt">PRODUCT</a>
      <a href="http://localhost:3000/akabout" class="nav-txt">ABOUT</a>
      <a href="http://localhost:3000/contect" class="nav-txt">CONTECT</a>
      <a href="http://localhost:3000/review" class="nav-txt">REVIEW</a>
        <button>
        <a href="http://localhost:3000/login" class="log-txt">LOGIN</a>
        </button>
    </nav>
    </header> -->

    <div class="hero-sec">
        <div class="hero-msg">
            <!-- <p>Welcome To The<br>Fashion Shoues</p> -->
        </div>
    </div>
    <div class="content">
        <div class="mer-contunar">
        <div class="mer-track">
        <p>Free Deilvary</p>
        <p>Support 24/7</p>
        <p>7 Day Returns</p>
        <p>Secure Shopping</p>
        <p>Privacy Policy</p>
        <p>Best Poduct</p>
        <p>Payment Options</p>
        <p>Our Serivace</p>
        <p>Affiliate Program</p>
        <p>Order Statues</p>
        <p>FAQ</p>
        <p>Shipping</p>
        </div>
        </div>
    </div>
    <div class="pro">
        <p>PREMIUM-PRODUCT</p>
    </div>
    <div class="shop-sec">

        <div class="box1 box">
            <div class="box-img" style="background-image: url('10-3.jpg');"></div>
            <div class="box-content">
                 leo's Fitness Sports for Man<br>
                 Price:₹1500<br>
            <a href="https://akfootware.onrender.com/sports">see more</a>
              </div>
           </div>

           <div class="box2 box">
            <div class="box-img" style="background-image: url('2-3.webp');"></div>
            <div class="box-content">
               The Dark Knight 2.0 for Man<br>
                Price:₹4000<br>
            <a href="https://akfootware.onrender.com/knight">see more</a>
              </div>
           </div>

           <div class="box3 box">
            <div class="box-img" style="background-image: url('14-1.jpg');"></div>
            <div class="box-content">
                OG-TerraForge Shoues for Man<br>
                price:₹1900<br>
            <a href="https://akfootware.onrender.com/terra">see more</a>
              </div>
           </div>

           <div class="box4 box">
            <div class="box-img" style="background-image: url('br.jpg');"></div>
            <div class="box-content">
                Streetwear Sneakers for Man's<br>
                 Price:₹1500<br>
            <a href="https://akfootware.onrender.com/hook">see more</a>
              </div>
           </div>

           <div class="box5 box">
            <div class="box-img" style="background-image: url('5-4.webp');"></div>
            <div class="box-content">
                Zixer Snackers Shoes for Men<br>
                Price:₹1000<br>
            <a href="https://akfootware.onrender.com/zixer">see more</a>
              </div>
           </div>

           <div class="box6 box">
            <div class="box-img" style="background-image: url('4.jpg');"></div>
            <div class="box-content">
             Scaler Snackers For Men<br>
               Price:₹650<br>
            <a href="https://akfootware.onrender.com/Scaler" class="photo">see more</a>
              </div>
           </div>

           <div class="box7 box">
            <div class="box-img" style="background-image: url('11.jpg');"></div>
            <div class="box-content">
                Rising wolf Men's Sport shoues<br>
                Price:₹2300<br>
            <a href="https://akfootware.onrender.com/wolf">see more</a>
              </div>
           </div>

           <div class="box8 box">
            <div class="box-img" style="background-image: url('12.jpg');"></div>
            <div class="box-content">
            Athletic Sneakers for Men's<br>
            Price:₹2800<br>
            <a href="https://akfootware.onrender.com/Athletic">see more</a>
              </div>
           </div>
        </div>
    
    <footer>
        <div class="foot-panal2">
            <div class="company">
             <h4>Company</h4>
            <ul>
                <a href="https://akfootware.onrender.com/akabout">About us</a>
                <a href="#">Our Serivace</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Affiliate Program</a>
                <a href="https://akfootware.onrender.com/contect">Contect us</a>
            </ul>
            </div>

            <div class="get help">
            <h4>Get Help</h4>
            <ul>
                <a href="#">FAQ</a>
                <a href="#">Shipping</a>
                <a href="#">Returns</a>
                <a href="#">Order Statues</a>
                <a href="#">Payment Options</a>
            </ul>
            </div>

            <div class="shop">
                <h4>Online Shop</h4>
            <ul>
                <a href="#">Shoues</a>
                <a href="#">Men shoues</a>
                <a href="#">Woman Shoues</a>
                <a href="#">Best Poduct</a>
            </ul>
            </div>

            <div class="Follow">
                <h4>Follow Us</h4>
           
                <div class="items">          
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="foot-panal3">
            <div class="logo2"></div>
            <div class="txt2">
                FOOTWARE
            </div>
        </div>
        <div class="foot-panal4">
            <div class="pages">
                <a>Condition of Use</a>
                <a>Privacy Notice</a>
                <a>Your Ads Privace Choice</a>
            </div>
            <div class="copyright">
                2025,kanodar, Inc.or its affiliates<br>
                Develop by <span>Suleman</span> & <span>Chaudhary</span>.
            </div>
        </div>
    </footer>
</div>

<script>
const toggle = document.getElementById("menu-toggle");
const nav = document.getElementById("navbar");

toggle.addEventListener("click", () => {
  nav.classList.toggle("active");
});
</script>

</body>
</html>
