
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="product.css">
    <link rel="icon" href="./ak2.png">
    <title>Product</title>
    
</head>
<body>
      <header>
    <div class="logo">
      <img src="ak2.png" id="logo" alt="image">
       <div class="txt">
                FOOTWARE
        </div>
    </div>
    <nav>
      <a href="https://akfootware.onrender.com/akfootware" class="nav-txt" >HOME</a>
      <a href="#" class="nav-txt" style="color: darkgray;">PRODUCT</a>
      <a href="https://akfootware.onrender.com/akabout" class="nav-txt">ABOUT</a>
      <a href="https://akfootware.onrender.com/contect" class="nav-txt">CONTECT</a>
      <a href="https://akfootware.onrender.com/review" class="nav-txt">REVIEW</a>
      <button id="btn-log">
        <a href="https://akfootware.onrender.com/login" class="log-txt">LOGIN</a>
        </button>
    </nav>
  </header>
   <div class="hero-sec"></div>

   <div class="container">
    <h2>Explore Our Categories</h2>
    <div class="categories">
      <div class="category-card">  <!--data-bg="SNEAKERS" -->
        <img src="src.png" alt="Sneakers" />
        <div class="category-label">
          <span><a href="test.html">SNEAKERS</a></span>
          <div class="arrow"></div>
        </div>
      </div>

      <div class="category-card">
        <img src="src2.png" alt="Slip-ons"/>
        <div class="category-label">
          <span><a href="test.html">SLIP-ONS</a></span>
          <div class="arrow"></div>
        </div>
      </div>

      <div class="category-card">
        <img src="src3.png" alt="Loafers" />
        <div class="category-label">
          <span><a href="test.html">LOAFERS</a></span>
          <div class="arrow"></div>
        </div>
      </div>

      <div class="category-card">
        <img src="src4.png" alt="Oxfords" />
        <div class="category-label">
          <span><a href="test.html">OXFORDS</a></span>

          <div class="arrow"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="run"></div>

</body>
</html>
